@(message: String)(content: Html)

@main("Profile"){
	@helper.javascriptRouter("jsRoutes")(
		routes.javascript.WidgetController.removeWidget,
		routes.javascript.WidgetController.updateWidget
	)

	<div class="navbar navbar-fixed-top" role="navigation">
		<div class="container">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="#">Welcome</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="@routes.WidgetController.showWidgetModal()">
							<span class="glyphicon glyphicon-plus"></span>
						</a>
					</li>
					<li><a href="@routes.Application.logout()">Logout</a></li>
				</ul>
		</div>
	</div>
	@content
	<div id="todoList" class="list">
		<h2>Todo</h2>
		<ul id="todo" class="list-group"></ul>
	</div>
	<div id="inProgressList" class="list">
		<h2>In Progress</h2>
		<ul id="inProgress" class="list-group"></ul>
	</div>
	<div id="doneList" class="list">
		<h2>Done</h2>
		<ul id="done" class="list-group"></ul>
	</div>

	<script type='Text/javascript' src='@routes.Assets.versioned("javascripts/app.js")'></script>
}